img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  width: 50%;
  margin: auto;
  text-align: center;
}

.paso-number-content {
  text-align: center;
  cursor: pointer;
}

.swiper-slide > img,
.swiper-slide p {
  visibility: hidden;
}

.swiper-slide.active > img,
.swiper-slide.active p {
  visibility: visible;
  transition: all 0.5s ease-in;
}

.swiper-slide.active .paso-number-dark {
  background: black;
  color: white;
  transition: all 0.5s ease-in;
}
